<li id="event-<%= event.id %>">
  
 
  <span class="content">
    <%= event.location %>
   
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(event.time) %> ago.
    
  </span>
</li>
