<% provide(:title, @event.description) %>
<div class="row">
 
  
  <div class="col-md-12">
    
    
          <p><%= @event.location %></p>
          <p><%= @event.description %></p>
          <p><%= @event.date %></p>
          <p>Created by: <%= link_to  @creator.username, @creator  %></p>
  </div>
  
</div>
